<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Delta House</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#EFEFED">
  <meta name="msapplication-navbutton-color" content="#EFEFED">
  <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body class="" id="top">

${require('../parts/header.html')}
  <main class="main" style="opacity: 0;">
      <div class="inner-page page-services">
          <div class="breadcrumbs-wrapper">
              <div class="container-lg">
                  <div class="breadcrumbs">
                      <a href="javascript:void(0)">Home</a>
                      <span>/</span>
                      <span>Wat we doen</span>
                  </div>
              </div>
          </div>
          <div class="services-main">
              <div class="container-lg">
                  <span class="services-main__title">Wij bouwen uw droomhuis</span>
                  <div class="services-main__slider-wrapper">
                      <div class="services-main__slider-text">
                          DeltaHouseGroup heeft het volledige bouwproces in eigen beheer en blijft betrokken tot aan de oplevering. Wij zijn omringd en worden vertegenwoordigd door een team van experts. Van architecten, contructeurs tot bouwkundig ingenieurs. Dat geeft u rust en ons de zekerheid dat wat wij opleveren voldoet aan onze hoge kwaliteits - en duurzaamheidseisen.
                      </div>
                      <div class="services-main__slider-nav">
                          <div id="services-slider-nav" class="slick-slider" data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "arrows": false, "dots": false, "infinite": true, "asNavFor": "#services-slider", "focusOnSelect": true, "autoplay": true, "autoplaySpeed": 3000}'>
                              <div class="slide">Woningbouw</div>
                              <div class="slide">Utiliteitbouw</div>
                          </div>
                      </div>
                      <div class="services-main__slider">
                          <div id="services-slider" class="slick-slider services-slider__pc" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "infinite": true, "asNavFor": "#services-slider-nav", "focusOnSelect": true, "autoplay": true, "autoplaySpeed": 3000}'>
                              <div class="slide">
                                  <div><img src="../../images/services-slide-01-01.jpg" alt=""></div>
                                  <div><img src="../../images/services-slide-01-02.jpg" alt=""></div>
                              </div>
                              <div class="slide">
                                  <div><img src="../../images/services-slide-02-01.jpg" alt=""></div>
                                  <div><img src="../../images/services-slide-02-02.jpg" alt=""></div>
                              </div>
                          </div>
                          <div id="services-slider-mob" class="slick-slider services-slider__mob" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "infinite": true, "asNavFor": "#services-slider-nav", "focusOnSelect": true, "autoplay": true, "autoplaySpeed": 3000}'>
                              <div class="slide">
                                  <img src="../../images/services-slide-01-01__mob.jpg" alt="">
                              </div>
                              <div class="slide">
                                  <img src="../../images/services-slide-01-02__mob.jpg" alt="">
                              </div>
                              <div class="slide">
                                  <img src="../../images/services-slide-02-01__mob.jpg" alt="">
                              </div>
                              <div class="slide">
                                  <img src="../../images/services-slide-02-02__mob.jpg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="services-items">
              <div class="container-lg">
                  <div class="row services-items__wrapper">
                      <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
                      <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                          <span class="services-items__title">Een breed aanbod van diensten</span>
                      </div>
                      <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item1">
                              <img src="../../images/services-item-01.jpg" alt="">
                              <div class="services-item__text">
                                  <div class="services-item__arrow">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                                  <div class="services-item__title">Woningbouw</div>
                              </div>
                          </a>
                      </div>
                      <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item2">
                              <img src="../../images/services-item-02.jpg" alt="">
                              <div class="services-item__text">
                                  <div class="services-item__title">
                                      Utiliteitsbouw
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="274" height="260" viewBox="0 0 274 260" fill="none">
                                  <path d="M1 259L215.448 207.123L273 1" stroke="#CFE264"/>
                              </svg>
                              <div class="services-item__text">
                                  <div class="services-item__arrow">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                                  <div class="services-item__title">RENOVATIE, VERBOUW EN AFBOUW</div>
                              </div>
                          </a>
                      </div>
                      <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item4">
                              <svg xmlns="http://www.w3.org/2000/svg" width="443" height="416" viewBox="0 0 443 416" fill="none">
                                  <path d="M443.5 -2.5L443.5 82.8372L198.411 415.223L-0.499988 205.956L-0.500006 -2.49999L443.5 -2.5Z" stroke="#CFE264"/>
                              </svg>
                              <div class="services-item__text">
                                  <div class="services-item__arrow">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                                  <div class="services-item__title">ONTWERPEN</div>
                              </div>
                          </a>
                      </div>
                      <div class="col double col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item5">
                              <img src="../../images/services-item-03.jpg" alt="">
                              <div class="services-item__text">
                                  <div class="services-item__arrow">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                                  <div class="services-item__title">Inrerieur design</div>
                              </div>
                          </a>
                          <a href="javascript:void(0)" class="services-item services-item6">
                              <svg xmlns="http://www.w3.org/2000/svg" width="442" height="191" viewBox="0 0 442 191" fill="none">
                                  <path d="M-1 91.6666L115.844 1.57031L443 192.001" stroke="#CFE264"/>
                              </svg>
                              <div class="services-item__text">
                                  <div class="services-item__arrow">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                                  <div class="services-item__title">ISOLATIE EN FUNDERING</div>
                              </div>
                          </a>
                      </div>
                      <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item7">
                              <img src="../../images/services-item-04.jpg" alt="">
                              <div class="services-item__text">
                                  <div class="services-item__title">
                                      Utiliteitsbouw
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item8">
                              <img src="../../images/services-item-05.jpg" alt="">
                              <div class="services-item__text">
                                  <div class="services-item__arrow">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                                  <div class="services-item__title">Installatie</div>
                              </div>
                          </a>
                      </div>
                      <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <a href="javascript:void(0)" class="services-item services-item9">
                              <svg xmlns="http://www.w3.org/2000/svg" width="654" height="322" viewBox="0 0 654 322" fill="none">
                                  <path d="M0.621094 0V321.267H268.343V102.344H653.999" stroke="#CFE264"/>
                              </svg>
                              <div class="services-item__text">
                                  <div class="services-item__title">
                                      Bijgebouwen
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1336 19.8402C13.9457 19.6379 13.9574 19.3215 14.1598 19.1336L20.7652 13L14.1598 6.86639C13.9574 6.67849 13.9457 6.36213 14.1336 6.15977C14.3215 5.95742 14.6379 5.9457 14.8402 6.1336L21.8402 12.6336C21.9421 12.7282 22 12.861 22 13C22 13.139 21.9421 13.2718 21.8402 13.3664L14.8402 19.8664C14.6379 20.0543 14.3215 20.0426 14.1336 19.8402Z" fill="#FD5523"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13C21 13.2761 20.7761 13.5 20.5 13.5L2.5 13.5C2.22386 13.5 2 13.2761 2 13C2 12.7239 2.22386 12.5 2.5 12.5L20.5 12.5C20.7761 12.5 21 12.7239 21 13Z" fill="#FD5523"/>
                                      </svg>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
