<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Delta House</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#EFEFED">
  <meta name="msapplication-navbutton-color" content="#EFEFED">
  <meta name="apple-mobile-web-app-status-bar-style" content="#EFEFED">
</head>

<body class="" id="top">

${require('../parts/header.html')}
  <main class="main" style="opacity: 0;">
      <div class="inner-page page-uc">
          <div class="breadcrumbs-wrapper">
              <div class="container-lg">
                  <div class="breadcrumbs">
                      <a href="javascript:void(0)">Home</a>
                      <span>/</span>
                      <span>Binnenkort beschikbaar</span>
                  </div>
              </div>
          </div>
          <div class="uc-main">
              <div class="container-lg">
                  <div class="row uc-wrapper">
                      <span class="uc-title">Binnenkort beschikbaar</span>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 uc-text">
                          <div class="uc-text__main">De website is tijdelijk buiten gebruik. We werken hard aan een volledig nieuwe website</div>
                          <div class="uc-text__eng">This page is under construction. We&#96;ll be here soon with our design.</div>
                          <a href="javascript:void(0)" class="btn">Go to home page</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
