.menu-main{
  position: fixed;
  width: 100vw;
  height: 0;
  background: $light;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  transition: .8s ease-in-out;
  transition-delay: .05s;
  transform: translateY(-10vh);
  z-index: 101;
  display: flex;
  align-items: center;
  overflow: hidden;
  &.active{
    visibility: visible;
    transform: translateY(0);
    height: 100vh;
    .menu-close, >svg{
      opacity: 1;
    }
    .menu-main__list{
      >li{
        a{
          top: 0;
          opacity: 1;
        }
        &.current{
          a{
            &:before{
              width: 100%;
            }
          }
        }
      }
    }
    .additional-menu__list{
      >li{
        a{
          top: 0;
          opacity: 1;
        }
      }
    }
    .menu-main__socials{
      li{
        scale: 1;
      }
    }
    .menu-main__lang{
      a, span{
        opacity: 1;
      }
      svg{
        scale: 1;
      }
    }
  }
  &.transition-end{
    transition: 1s ease-out;
    transition-delay: .3s;
    &:not(.active){
      .menu-main__list{
        >li{
          &.has-children{
            overflow: hidden;
          }
        }
      }
    }
    .menu-close, >svg{
      transition: ease-in-out .5s;
    }
    .menu-main__list{
      >li{
        //overflow: unset;
        &.has-children{
          overflow: visible;
        }
        a{
          transition: ease-out .5s;
        }
        &.current{
          a{
            &:before{
              transition: ease-out .5s;
            }
          }
        }
      }
    }
    .additional-menu__list{
      >li{
        a{
          transition: ease-out .5s;
        }
      }
    }
    .menu-main__socials{
      li{
        transition: ease-out .5s;
      }
    }
    .menu-main__lang{
      a, span{
        transition: ease-out .5s;
      }
      svg{
        transition: ease-out .5s;
      }
    }
  }
  >svg{
    position: absolute;
    width: auto;
    max-width: 100%;
    height: calc(100vh - 114px);
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    transition: ease-in-out .8s;
    transition-delay: .75s;
    opacity: 0;
    @include bp(xxl) {
      top: 94px;
      height: calc(100vh - 188px);
    }
    @include bp(xl) {
      top: 50%;
      height: auto;
      max-width: calc(100% - 48px);
      transform: translate(-50%, -50%);
    }
    @include bp(xs) {
      max-width: 100vw;
    }
  }
  .scroll-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 57px 0;
    @include bp(xs) {
      padding: 30px 0;
    }
    &::-webkit-scrollbar {
      overflow-y: scroll;
      background: transparent;
      width: 6px;
      transition: linear .2s;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($black, .4);
      border-radius: 0;
      width: 6px;
      transition: linear .2s;
      cursor: grab;
    }
  }
  *{
    will-change: transform;
  }
}

.menu-close{
  display: flex;
  position: absolute;
  z-index: 102;
  right: 46px;
  top: 42px;
  cursor: pointer;
  transition: ease-in-out .6s;
  transition-delay: .85s;
  opacity: 0;
  @include bp(xl) {
    top: 40px;
    right: 42px;
  }
  @include bp(xs) {
    top: 32px;
    right: 28px;
  }
  &:after{
    position: absolute;
    content: '';
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover{
    svg{
      path{
        fill: $orange;
      }
    }
  }
}

.menu-main__list{
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  @include bp(xxl) {
    font-size: 32px;
  }
  @include bp(xxs) {
    font-size: 20px;
  }
  >li{
    margin-bottom: 20px;
    overflow: hidden;
    &:nth-child(1){
      a{
        transition-delay: .15s;
      }
    }
    &:nth-child(2){
      a{
        transition-delay: .3s;
      }
    }
    &:nth-child(3){
      a{
        transition-delay: .45s;
      }
    }
    &:nth-child(4){
      a{
        transition-delay: .6s;
      }
    }
    &:nth-child(5){
      a{
        transition-delay: .75s;
      }
    }
    &:nth-child(6){
      a{
        transition-delay: 1s;
      }
    }
    &.current{
      a{
        &:before{
          position: absolute;
          content: '';
          left: 0;
          bottom: 3px;
          height: 1px;
          width: 0;
          background-color: $black;
          transition: ease-in .5s;
          transition-delay: 1.15s;
        }
      }
    }
    &.has-children{
      position: relative;
      z-index: 1;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      a, span{
        align-items: center;
        svg{
          margin-left: 20px;
          @include bp(xs) {
            margin-left: 16px;
          }
        }
      }
      &:hover{
        >a, span{
          @include bp(xs) {
            color: $black;
          }
        }
        svg{
          path{
            fill: $orange;
            @include bp(xs) {
              fill: $black;
            }
          }
        }
      }
      &.open{
        >a, span{
          @include bp(xs) {
            color: $black;
          }
        }
        svg{
          transform: scale(1, -1);
          path{
            @include bp(xs) {
              fill: $orange;
            }
          }
        }
        >ul{
          visibility: visible;
          opacity: 1;
          transform: translateX(-50%) translateY(8px);
        }
      }
      >ul{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(-20px);
        transition: linear .2s;
        opacity: 0;
        visibility: hidden;
        background-color: $light;
        padding: 20px;
        width: 100%;
        min-width: 332px;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        box-shadow: 0 4px 4px 0 rgba(71, 72, 68, 0.25);
        text-align: left;
        @include bp(xs) {
          min-width: unset;
        }
        li{
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            width: auto;
            display: block;
            margin: 0;
          }
        }
      }
    }
    a, span{
      display: block;
    }
    a{
      position: relative;
      top: 50px;
      transition: ease-in .5s;
      opacity: .6;
      width: max-content;
      margin: 0 auto;
      &:hover{
        &:before{
          background-color: $orange;
        }
      }
    }
  }
}

.additional-menu__list{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  @include bp(xs) {
    font-size: 14px;
  }
  @include bp(xxs) {
    gap: 24px;
  }
  >li{
    overflow: hidden;
    &:nth-child(1){
      a{
        transition-delay: 1.15s;
      }
    }
    &:nth-child(2){
      a{
        transition-delay: 1.15s;
      }
    }
    &:nth-child(3){
      a{
        transition-delay: 1.15s;
      }
    }
    a{
      position: relative;
      top: 30px;
      transition: ease-in .5s;
      opacity: .6;
    }
  }
}

.menu-main__socials{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
  li{
    scale: 0;
    transition: ease-in .5s;
    &:nth-child(1){
      transition-delay: 1.15s;
    }
    &:nth-child(2){
      transition-delay: 1.15s;
    }
    &:nth-child(3){
      transition-delay: 1.15s;
    }
    &:nth-child(4){
      transition-delay: 1.15s;
    }
    a{
      display: flex;
      &:hover{
        svg{
          path{
            fill: $orange;
          }
        }
      }
    }
  }
}

.menu-main__lang{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  a{
    color: rgba($black, .4);
  }
  a, span{
    opacity: 0;
    transition: ease-in .5s;
  }
  svg{
    scale: 0;
    transition: ease-in .5s;
  }
  >*{
    &:nth-child(1){
      transition-delay: 1.15s;
    }
    &:nth-child(2){
      transition-delay: 1.3s;
    }
    &:nth-child(3){
      transition-delay: 1.15s;
    }
  }
}
