// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$light: #F5F5EC;
$black: #474844;
$accent: #CFE264;
$orange: #FD5523;
$bg-hover: #FD3C23;
$border-hover: #E0491C;
$default: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
